useDynLib(promise, C_resolve, C_promise, C_then)
importFrom("parallel", "mcparallel", "mccollect")
export(promise, then)
S3method("format", "Promise")
S3method("print", "Promise")
S3method("str", "Promise")
