useDynLib(promise,
          C_pipe_fd, C_close_fd , C_send, C_fetch,
	  C_make_promise, C_promise_state, C_make_then,
          C_register_then, C_register_promise)
export(promise, then)
S3method("format", "Promise")
S3method("print", "Promise")
S3method("str", "Promise")
